<app-header></app-header>

<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-button>Back</ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-row class="ion-no-padding" *ngIf="render">
    <ion-col class="ion-no-padding">
      <img [src]="country.flags.png" alt="Flag" />
    </ion-col>

    <ion-col class="ion-no-padding">

      <h1><strong>{{ country.name.common }}</strong></h1>

      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <ion-row class="ion-no-padding" *ngFor="let lastName of country.name.nativeName | keyvalue; let i=index; let last = last">
            <h6 *ngIf="last"><strong>Native Name:</strong></h6>
            <h6 *ngIf="last">
              {{ lastName.value.common }}
            </h6>
          </ion-row>

          <h6><strong>Population:</strong>{{ country.population }}</h6>
          <h6><strong>Region:</strong>{{ country.region }}</h6>
          <h6><strong>Sub Region:</strong>{{ country.subregion }}</h6>
          <h6><strong>Capital:</strong>{{ country.capital }}</h6>
        </ion-col>
  
        <ion-col class="ion-no-padding">
          <h6><strong>Top Level Domain:</strong>{{ country.tld }}</h6>
          
          <ion-row class="ion-no-padding">
            <h6><strong>Currencies:</strong></h6>
            <h6 *ngFor="let curr of country.currencies | keyvalue; let i=index">{{ curr.value.name }}</h6>
          </ion-row>
          
          <ion-row class="ion-no-padding">
            <h6><strong>Languages:</strong></h6>
            <h6 *ngFor="let lang of country.languages | keyvalue; let i=index">{{ lang.value }}</h6>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding">
        <h6><strong>Border Countries:</strong> </h6>
        <ion-button *ngFor="let name of country.borders; let i=index">{{ country.borders[i] }}</ion-button>
      </ion-row>
      
    </ion-col>
  </ion-row>
</ion-content>