<ion-header>
  <ion-toolbar>
    <ion-title class="ion-no-padding">
      <strong>Where in the world?</strong>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="changeTheme()">
        <ion-icon *ngIf="!darkMode" name="moon-outline"></ion-icon>
        <ion-icon *ngIf="darkMode" name="moon"></ion-icon>
        <p>Dark Mode</p>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-searchbar class="search-bar" placeholder="Search for a country..." [(ngModel)]="filterTerm" (ionChange)="setFilter()"></ion-searchbar>
      
      <ion-item slot="end">
        <ion-label>Filter by Region</ion-label>
        <ion-select [interfaceOptions]="{ cssClass: 'select' }" interface="popover">
          <ion-select-option value="africa">Africa</ion-select-option>
          <ion-select-option value="america">America</ion-select-option>
          <ion-select-option value="asia">Asia</ion-select-option>
          <ion-select-option value="europe">Europe</ion-select-option>
          <ion-select-option value="oceania">Oceania</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-no-padding">
    <ion-col class="ion-no-padding" *ngFor="let country of filteredCountries">
      <ion-card class="ion-no-margin">
        <img [src]="country.flags.png" alt="Flag" width="100%" height="45%" />

        <ion-card-header>
          <ion-card-title><strong>{{ country.name.official }}</strong></ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-card-subtitle><strong>Population:</strong> {{ country.population }}</ion-card-subtitle>
          <ion-card-subtitle><strong>Region:</strong> {{ country.region }}</ion-card-subtitle>
          <ion-card-subtitle><strong>Capital:</strong> {{ country.capital }}</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>