ion-header {
  ion-toolbar {
    padding: 10px 5%;
  }
}

ion-content {
  ion-toolbar {
    padding: 35px 5%;
  }

  ion-grid {
    padding: 0 5%;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4,1fr);
  }
}