ion-header {
  ion-toolbar {
    padding: 0 5%;
  }
}

ion-content {
  ion-header {
    ion-toolbar {
      --background: transparent;
      padding: 35px 5%;

      ion-searchbar {
        padding: 0;
        width: 450px;
      }
    }
  }

  ion-grid {
    padding: 0 5%;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4,1fr);
  }
}