@mixin flex-wrap-fix($flex-basis, $max-viewport-width: 2000px) {
  flex-grow: 1;
  flex-basis: $flex-basis;
  max-width: 100%;

  $multiplier: 1;
  $current-width: 0px;

  @while $current-width < $max-viewport-width {
    $current-width: $current-width + $flex-basis;
    $multiplier: $multiplier + 1;

    @media(min-width: $flex-basis * $multiplier) {
      max-width: percentage(1/$multiplier);
    }
  }
}

ion-header {
  ion-toolbar {
    padding: 10px 5%;
  }
}

ion-content {
  ion-toolbar {
    padding: 35px 5%;
  }

  ion-row.wrapper {
    display: flex;  
    flex-wrap: wrap;
    margin: 0 5%;
    width: auto;

    ion-row {
      width: auto;
      margin: -50px;

      ion-col {
        margin: 50px;
        height: 450px;
        @include flex-wrap-fix(380px)
      }
    }
  }
}